<h1>Goodbye!!</h1>
<% random_names =["Cool Cat","Code Geek","Awesome Possum"] %>
<p>It was nice seeing you, <%=random_names.sample %>!</p>
<p>Time to say <%= link_to "Hello", say_hello_path %>!</p>
<center>Created by Alisson Leiva</center>
